#parent,
#child,
#descendant {
    margin: 16px;
    padding: 16px;
    border: 4px solid #212121;
    border-radius: 8px;
    color: #fff;
    font-weight: 500;
    font-size: 20px;
    text-transform: uppercase;
}

#parent {
    background-color: #673ab7;
}

#child {
    background-color: #448aff;
}

#descendant {
    background-color: #ff9800;
}

.container {
    margin-right: 90px;
    margin-left: 90px;
}

.box {
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;;
    border: 3px solid navy;
    border-radius: 8px;
    margin-left: 100px;
    margin-right: 100px;
    background-color: #ff9800;
}


button {
    display: block;
    cursor: pointer;
}

.button-numbers {
    width: calc(50% - 10px);
        display: flex;
        align-items: center;
        width: 110px;
        height: 10px;
        justify-content: center;
        font-style: normal;
        font-family: "Quantico", sans-serif;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.64px;
        padding-top: 20px;
        padding-bottom: 20px;
        cursor: pointer;
        border-radius: 4px;
        border: none;
        color: var(--WHITE, #FFF);
        background-color: #4D5AE5;
        transition: transform 200ms ease-in-out, background-color 200ms cubic-bezier(0.4, 0, 0.2, 1);
        
}

.button-numbers:hover,
.button-numbers:focus {
    background-color: #404BBF;
    transform: scale(1.1);
}

body {
    margin: 8px;
    font-family: sans-serif;
}

.output {
    text-align: center;
    text-transform: uppercase;
    font-size: 24px;
    font-weight: 700;
}

.color-palette {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(40px, 1fr));
    gap: 4px;
}

.color-palette .item {
    padding: 0;
    margin: 0;
    border: none;
    border-radius: 4px;
    width: 40px;
    height: 40px;
    cursor: pointer;
    transition: transform 250ms ease-in-out;
}

.color-palette .item:hover {
    transform: scale(1.1);
}

ul {
    list-style: none;
}

section {
    padding-top: 40px;
    padding-bottom: 40px;
}

.gallery-section {
    background-color:  lightblue;
    opacity: 1;
}

.gallery {
    margin-top: auto;
    margin-bottom: auto;
    display: flex;
    flex-wrap: wrap;
    gap: 0px 7px;
    padding: 0;
    justify-content: center;
}

.gallery-item {
    width: calc(29.33% - 80px);
    margin: 5px;
    transition: transform 0.3s ease-in-out;
}

.gallery-item:hover {
    transform: scale(1.1);
}

.backdrop {
    opacity: 0;
        position: fixed;
        visibility: hidden;
        pointer-events: none;
        top: 0;
        left: 0;
        z-index: 99999999;
        width: 100%;
        height: 100%;
        background-color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
        transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}




.modal {
    position: fixed;
    visibility: hidden;
    opacity: 0;
    pointer-events: none;
        top: 0;
        left: 0;
        width: 408px;
        min-height: 584px;
        padding: 72px 24px 24px;
        border-radius: 4px;
        box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.14), 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 2px 1px rgba(0, 0, 0, 0.2);
        background-color: var(--DAIRY, #FCFCFC);
        transform: translateX(100%);
        transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.is-open{
    opacity: 1;
    visibility: visible;
    pointer-events: auto;
}

.modal.is-open{
    transform: translateX(0%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1)
}

.cls-btn {
position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cls-btn:hover,
.cls-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}

.cls-btn-icon {
    width: 8px;
        height: 8px;
        transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
    
    
.cls-btn:hover .cls-btn-icon {
    fill: #FFFFFF;
  }
    
.cls-btn:focus .cls-btn-icon {
     fill: #FFFFFF;
  }

.input-modal:focus {
    border-color: #4D5AE5;
}

.input-modal:focus+svg {
    fill: #4D5AE5;
}



.modal-box {
    position: relative;
        margin-bottom: 8px;
        width: 360px;
        height: 58px;
}

.label-modal {
    display: block;
    margin-bottom: 4px;
    font-size: 12px;
    color: var(--LIGHT-SLATE, #8E8F99);
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
}

.modal-paragraph {
    color: var(--NAVY-BLUE, #2E2F42);
    text-align: center;
    margin-top: auto;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
}

.input-modal {
    border-radius: 4px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    height: 40px;
    width: 100%;
    margin: 0;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-box-form {
    position: relative;
}


.modal-textarea {
    border: 1px solid var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
    border-radius: 4px;
    background-color: transparent;
    width: 100%;
    height: 120px;
    font-family: Roboto;
    font-size: 12px;
    outline: transparent;
    font-weight: 400;
    line-height: 1.17;
    /* 116.667% */
    letter-spacing: 0.48px;
    padding: 8px 16px;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-textarea::placeholder {
    color: var(--NAVY-BLUE-modal, rgba(46, 47, 66, 0.40));
}

.modal-textarea:focus {
    border-color: #4D5AE5;
}

.cls-btn {
    position: absolute;
    top: 24px;
    right: 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid rgba(0, 0, 0, 0.1);
    border-radius: 50%;
    width: 24px;
    height: 24px;
    cursor: pointer;
    padding: 0;
    line-height: 0;
    background-color: #e7e9fc;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cls-btn:hover,
.cls-btn:focus {
    background-color: #404bbf;
    border: none;
    fill: #FFFFFF;
}


.cls-btn-icon {
    width: 8px;
    height: 8px;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.cls-btn:hover .cls-btn-icon {
    fill: #FFFFFF;
}

.cls-btn:focus .cls-btn-icon {
    fill: #FFFFFF;
}

.field-icon {
    position: absolute;
    top: 50%;
    left: 16px;
    fill: #2E2F42;
    transform: translateY(-50%);
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.input-modal:focus {
    border-color: #4D5AE5;
}

.input-modal:focus+svg {
    fill: #4D5AE5;
}

.textarea-div {
    margin-bottom: 16px;
}

.chekbox-privacy {
    width: 345px;
    height: 16px;
    margin-bottom: 24px;
}

.chekbox-span {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    fill: transparent;
    width: 16px;
    height: 16px;
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 2px;
    cursor: pointer;
    margin-right: 8px;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.chekbox-span:focus {
    background-color: #404BBF;
}



.privacy-police {
    font-size: 12px;
    color: var(--LIGHT-SLATE, #8E8F99);
    align-items: center;
    font-weight: 400;
    line-height: 1.17;
    letter-spacing: 0.04em;
}

.privacy-link {
    line-height: 14px;
    /* 116.667% */
    letter-spacing: 0.48px;
    font-size: 12px;
    text-decoration: underline;
    color: var(--IRIS, #4D5AE5);
}

.send-button-modal {
    color: #FFFFFF;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;
    border-radius: 4px;
    background: var(--IRIS, #4D5AE5);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    min-width: 169px;
    height: 56px;
    border: none;
    margin: auto;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.send-button-modal:hover,
.send-button-modal:focus {
    background-color: var(--OCEAN, #404BBF);
}

.textarea-modal:checked+.privacy-police>.chekbox-span {
    background-color: var(--OCEAN, #404BBF);
    fill: #F4F4FD;
    border: none;
}

.footer-subscribe {
    margin-left: 80px;
}

.form-footer {
    display: flex;
    gap: 24px;
}



.paragraph-form-footer {
    font-family: Roboto;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.32px;
    color: var(--WHITE, #FFF);
}

.input-footer {
    width: 264px;
    height: 40px;
    padding-left: 16px;
    font-size: 12px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.15));
    background-color: transparent;
    border-radius: 4px;
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
    border: 1px solid var(--WHITE, #FFF);
    color: #FFFFFF;
}

.input-footer:placeholder {
    color: #FFFFFF;
}

.button-submit {
    display: inline-flex;
    padding: 8px 24px;
    justify-content: center;
    align-items: center;
    min-width: 165px;
    height: 40px;
    background-color: #4D5AE5;
    border-radius: 4px;
    border: none;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-style: normal;
    font-weight: 500;
    line-height: 24px;
    /* 150% */
    letter-spacing: 0.64px;
    color: #FFF;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.telegram-icon {
    margin-left: 16px;
}

.button-submit:hover {
    background-color: #404bbf;
}

.button-submit:focus {
    background-color: #404bbf;
}

.burger-btn-js {
    border: none;
    border-radius: 4px;
    background-color: blue;
    stroke: yellow;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }

.burger-btn-js:hover,
.burger-btn-js:focus {
    background-color: yellow;
    stroke: blue;
}    


/* styles.css */

/* Backdrop */
.backdrop-2 {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    /* затемнений колір */
    display: none;
    /* за замовчуванням прихований */
    z-index: 999;
    /* висока z-index для накладання над іншими елементами */
}

/* Modal */
.modal-2 {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #fff;
    /* колір фону */
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
    /* тінь */
    display: none;
    /* за замовчуванням прихований */
    z-index: 1000;
    /* зі значенням з-index вище, ніж у backdrop, щоб модальне вікно було поверх бекдропа */
}

/* Close button */
.close-btn-2 {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 20px;
    cursor: pointer;
    border: none;
    background: none;
    color: #333;
    padding: 0;
    outline: none;
}

/* Mobile Menu */
.mobile-menu {
    list-style-type: none;
    padding: 0;
}

.mobile-menu li {
    margin-bottom: 10px;
}

.mobile-menu a {
    text-decoration: none;
    color: #333;
    font-weight: bold;
    font-size: 18px;
}

/* Open Modal Button */
.open-modal-btn {
    display: block;
    margin: 20px auto;
    padding: 10px 20px;
    background-color: #333;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    outline: none;
}

.open-modal-btn:hover {
    background-color: #555;
}

.button-succes {
    background-color: #28a745;
    /* Зелений колір для кнопки успіху */
    color: white;
    /* Білий колір тексту */
    border: none;
    /* Без обрамлення */
    padding: 10px 20px;
    /* Внутрішні відступи */
    font-size: 16px;
    /* Розмір шрифту */
    border-radius: 5px;
    /* Округлені кути */
    cursor: pointer;
    /* Курсор у вигляді руки */
    position: fixed;
    /* Фіксована позиція */
    bottom: 20px;
    /* Відступ знизу */
    right: 20px;
    /* Відступ праворуч */
    transform: translateX(100%);
    transition: transform 265ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-succes.is-visible {
    transform: translateX(-5%);
    transition: transform 265ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button-succes:hover {
    background-color: #218838;
    /* Трохи темніший зелений при наведенні */
}

.button-succes:active {
    background-color: #1e7e34;
    /* Ще темніший зелений при натисканні */
}

.is-visible {
    visibility: visible;
    pointer-events: auto;
    opacity: 1;
}

#datetime-picker {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.button-start {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 15px;
    line-height: 18px;
    font-weight: 400;
    width: 88px;
    height: 35px;
}

.timer {
    display: flex;
    justify-content: space-between;
}

.field {
    text-align: center;
}

.value {
    font-size: 24px;
}

.label {
    font-size: 12px;
    color: #666;
}